workflow:
  rules:
    # Run pipelines when templates, generator, data, or CI config change
    - changes:
      - *.tf
      - *.tf.disabled
      - lxc.d/*.tf
      - .gitlab-ci.yml
      when: always
    # Don't run for other changes (e.g., README, LICENSE)
    - when: never

stages:
  - validate
  - plan
  - apply
  - destroy

image:
  name: "hashicorp/terraform:latest"
  entrypoint:
    - "/usr/bin/env"
    - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

variables:
  TF_ROOT: "${CI_PROJECT_DIR}" # Assumes your .tf files are in a 'terraform' directory
  TF_PLUGIN_CACHE_DIR: "${CI_PROJECT_DIR}/.terraform-plugin-cache" # Cache plugins to speed up jobs
  TF_ADDRESS: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/terraform/state/proxmox-homelab" # 'proxmox-homelab' is an arbitrary name for your state file/environment


cache:
  paths:
    - "${TF_PLUGIN_CACHE_DIR}"
    - "${TF_ROOT}/.terraform"

before_script:
  - cd ${TF_ROOT}
  - mkdir -p "${TF_PLUGIN_CACHE_DIR}"
  - export PM_API_TOKEN_ID=$(echo $PM_API_TOKEN_ID | sed 's/\./!/g')
  - echo ${PM_API_TOKEN_ID}
  - terraform --version
  - terraform init -reconfigure -backend-config="address=${TF_ADDRESS}" -backend-config="lock_address=${TF_ADDRESS}/lock"  -backend-config="unlock_address=${TF_ADDRESS}/lock" -backend-config="username=oauth2" -backend-config="password=${GITLAB_TF_API_TOKEN}" -backend-config="lock_method=POST"  -backend-config="unlock_method=DELETE"  -backend-config="retry_max=10"

validate:
  stage: validate
  script:
    - terraform validate
    - terraform fmt -check=true # Ensure consistent formatting
  only:
    - merge_requests

plan:
  stage: plan
  script:
    - terraform plan -out="${TF_ROOT}/tfplan.cache" 
  artifacts:
    expire_in: 1 day
    paths:
      - "${TF_ROOT}/tfplan.cache"
  only:
    - merge_requests
    - master
    - main

apply:
  stage: apply
  script:
    - terraform apply -auto-approve "${TF_ROOT}/tfplan.cache"
  dependencies:
    - plan
  when: manual # Requires manual approval in the GitLab UI
  only:
    - master
    - main

destroy:
  stage: destroy
  script:
    - terraform destroy -auto-approve
  when: manual # Requires manual approval, useful for tearing down lab environments
  only:
    - master
    - main
