# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*.tfvars
.terraform.lock.hcl
*.out

# Local editor
.vscode/
.idea/
*.swp
*.out
venv/
ansible-vars/
ansible/inventory/hosts
.env
.env
vault-unencrypted.yml
vault.yml
