---
# site.yml
# Master playbook to configure all LXCs provisioned by Terraform.

- name: "Base configuration for all LXCs"
  hosts: all
  become: yes
  gather_facts: yes

  # BASELINE Roles that are mandatory for all hosts
  roles:
    - common            # baseline configuration (users, updates, etc.)
  #  - networking            # baseline configuration (users, updates, etc.)


  tasks:
    - name: Include host-specifc vars
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../host_vars/{{ inventory_hostname }}/main.yml"

    - name: Display basic host info (debug sanity check)
      ansible.builtin.debug:
        msg:
          - "Hostname: {{ hostname }}"
          - "Node: {{ node }}"
          - "VMID: {{ vmid }}"
          - "Storage: {{ storage }}"
          - "Networks: {{ networks | to_nice_yaml }}"
          - "Tags: {{ tags | to_nice_yaml }}"

    - name: Include roles dynamically based on tags {{ inventory_hostname }}
      ansible.builtin.include_role:
        name: "{{ item }}"
      loop: "{{ tags.split(',') | map('trim') | list }}"
      when: lookup('first_found', [
              playbook_dir + '/roles/' + item,
              playbook_dir + '/../roles/' + item
            ], errors='ignore') is not none
            