# {{ ansible_managed }}
# SPDX-License-Identifier: MIT
#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

base  {{ ldap.service.basedn }}
uri   {{ ldap.service.schema }}://{{ ldap.service.hostname }}

#SIZELIMIT	12
#TIMELIMIT	15
#DEREF		never

# tls_cacert {{ paths.eaglecreek_crt }}

pam_login_attribute uid
ssl on
#pam_groupdn cn=servername,ou=accessgroups,dc=example,dc=org
