vmid            = 117
hostname        = "plex"
cores           = 4
memory          = 928
swap            = 512
rootfs_storage  = "local-lvm"
rootfs_size     = "80G"
media_storage   = "media"
media_size      = "4100G"
bridge          = "vmbr0"
