# SPDX-License-Identifier: MIT
---
  - name: gather global variables
    include_vars: "global-{{ tier }}.yml"

  - name: gather os specific variables
    include_vars: "{{ item }}"
    with_first_found:
      - "{{ ansible_distribution }}-{{ ansible_distribution_major_version}}.yml"
      - "{{ ansible_distribution }}.yml"

  - name: Set LDAP URI external
    set_fact: 
      ldap_url: "{{ ldap.service.schema }}://{{ ldap.service.ext_hostname }}:{{ ldap.service.port }}"
    when: external_host is defined

  - name: Set LDAP URI internal
    set_fact: 
      ldap_url: "{{ ldap.service.schema }}://{{ ldap.service.hostname }}:{{ ldap.service.port }}"
    when: external_host is undefined or external_host is false

  - name: Install LDAP packages
    ansible.builtin.package:
      name:
        - libpam-ldap
        - ldap-utils
        - libnss-ldapd
      state: latest

  - name: Install LDAP nss packages
    ansible.builtin.package:
      name:
       - libnss-ldap 
      state: latest

  - name: Install Google 2FA
    ansible.builtin.package:
      name:
        - libpam-google-authenticator
      state: latest

  - name: Ensure target directory exists
    ansible.builtin.file:
      path: /etc/ldap/
      state: directory
      owner: root
      group: root
      mode: '0755'

  - name: Set search BASE in ldap.conf
    ansible.builtin.lineinfile:
      backup: yes
      dest: /etc/ldap/ldap.conf
      regexp: '^#BASE'
      line: 'BASE dc=crumpton,dc=org'

  - name: Set search URI in ldap.conf
    ansible.builtin.lineinfile:
      dest: /etc/ldap/ldap.conf
      regexp: '^#URI'
      line: 'URI {{ ldap_url }}'

  - name: Set sshd_config ChallengeResponseAuthentication
    ansible.builtin.lineinfile:
      backup: yes
      dest: /etc/ssh/sshd_config
      regexp: '^ChallengeResponseAuthentication'
      line: 'ChallengeResponseAuthentication no'
    notify:
    - restart sshd

  - name: Uncomment sshd_config ChallengeResponseAuthentication
    ansible.builtin.lineinfile: 
      dest: /etc/ssh/sshd_config
      regexp: '^#ChallengeResponseAuthentication'
      line: 'ChallengeResponseAuthentication no'
    notify:
    - restart sshd

  - name: Set sshd_config PasswordAuthentication when commented out
    ansible.builtin.lineinfile:
      dest: /etc/ssh/sshd_config
      regexp: '^#PasswordAuthentication'
      line: '#PasswordAuthentication yes'
    notify:
    - restart sshd

  - name: sshd_config PasswordAuthentication
    ansible.builtin.lineinfile:
      dest: /etc/ssh/sshd_config
      regexp: '^PasswordAuthentication'
      line: '#PasswordAuthentication yes'
    notify:
    - restart sshd

  - name: Set sshd_config AuthorizedKeysCommand when commented
    ansible.builtin.lineinfile:
      dest: /etc/ssh/sshd_config
      regexp: '^#AuthorizedKeysCommandUser'
      line: 'AuthorizedKeysCommandUser nobody'
    notify:
    - restart sshd

  - name: Uncomment sshd_config AuthorizedKeysUser
    ansible.builtin.lineinfile:
      dest: /etc/ssh/sshd_config
      regexp: '^#AuthorizedKeysCommand'
      line: 'AuthorizedKeysCommand /usr/local/bin/authorized_keys_ldap'
    notify:
    - restart sshd

  - name: Create /var/run
    ansible.builtin.file:
      path: /run/sshd
      state: directory
      mode: '0755'

  - name: Add ldap to nsswitch passwords
    ansible.builtin.lineinfile:
      backup: yes
      dest: /etc/nsswitch.conf
      regexp: '^passwd:'
      line: 'passwd: compat systemd ldap'
  - name: Add ldap to nsswitch groups
    ansible.builtin.lineinfile:
      dest: /etc/nsswitch.conf
      regexp: '^group:'
      line: 'group: compat systemd ldap'

  - name: Remove authtok from pam common-password
    ansible.builtin.lineinfile:
      dest: /etc/pam.d/common-password
      backup: yes
      regexp: ' use_authtok'
      line: 'password   [success=1 user_unknown=ignore default=die]     pam_ldap.so try_first_pass'

  - name: Enable pam to make home directories
    ansible.builtin.lineinfile:
      path: /etc/pam.d/common-session
      backup: yes
      insertafter: EOF
      line: 'session optional pam_mkhomedir.so skel=/etc/skel umask=077'

  - name: Ensure local certs directory exists
    file: state=directory path=/usr/local/share/ca-certificates

  - name: Install eaglecreek cert
    copy: src=eaglecreek4096.crt dest=/usr/local/share/ca-certificates/

  - name: Update cert index
    shell: /usr/sbin/update-ca-certificates

  - name: Freshen cert index
    shell: /usr/sbin/update-ca-certificates --fresh

  - name: Install ldap configuration
    ansible.builtin.template:
      backup: yes
      src: "{{ configuration.template_base }}/ldap.conf.j2"
      dest: /etc/ldap.conf

  - name: Install ldapsearch configuration
    ansible.builtin.template:
      backup: yes
      src: "{{ configuration.template_base }}/etc-ldap-ldap.conf.j2"
      dest: /etc/ldap.ldap.conf

  - name: Install authorized_keys_ldap
    ansible.builtin.template:
      src: authorized_keys_ldap.j2
      dest: /usr/local/bin/authorized_keys_ldap
      mode: 'u=rx,g=rx,o=rx'
      backup: yes

  - name: Enable auth pam succeeded if
    ansible.builtin.lineinfile:
      path: /etc/pam.d/sshd
      backup: yes
      insertafter: EOF
      line: 'auth [default=ignore success=1] pam_succeed_if.so quiet uid < 2000'

  - name: Enable auth pam google_authenticator
    ansible.builtin.lineinfile:
      path: /etc/pam.d/sshd
      backup: yes
      insertafter: EOF
      line: 'auth required pam_google_authenticator.so'
