# SPDX-License-Identifier: MIT
---
  - name: Gather global variables
    include_vars: "global-{{ tier }}.yml"

  - name: Gather os specific variables
    include_vars: "{{ item }}"
    with_first_found:
      - "{{ ansible_distribution }}-{{ ansible_distribution_major_version}}.yml"
      - "{{ ansible_distribution }}.yml"

  - name: Install LDAP packages
    ansible.builtin.package:
      name:
        - pam_mkhomedir
        - pam_ldap
        - nss_ldap
      state: latest


  - name: Install Google 2FA
    ansible.builtin.package:
      name:
        - pam_google_authenticator
      state: latest

  - name: Install OS Applications
    ansible.builtin.package:
      name:
        - bash
        - base64
      state: latest

  - name: Put bash where LDAP expects it
    ansible.builtin.file:
      src: /usr/local/bin/bash
      dest: "{{ paths.bash }}"
      state: link

  - name: Update sshd configuration safely, avoid locking yourself out
    ansible.builtin.template:
      src: "{{ configuration.template_base }}/sshd_config.j2"
      dest: "{{ paths.sshd_config }}"
      owner: root
      group: wheel
      mode: '0644'
      validate: /usr/sbin/sshd -t -f %s
      backup: yes
    notify: restart sshd

  - name: Install nss_ldap.conf
    ansible.builtin.template:
      src: "{{ configuration.template_base }}/nss_ldap.conf.j2"
      dest: "{{ paths.nss_ldap_conf }}"
      backup: yes

  - name: Ensure local certs directory exists
    file: state=directory path=/usr/local/etc/ssl/

  - name: Install eaglecreek cert
    copy: src=eaglecreek.crt dest={{ paths.eaglecreek_crt }}

  - name: Add all certs to trust store
    blockinfile: path={{ paths.eaglecreek_crt }} block={{lookup('file', '{{ item }}')}} create=no state=present
    loop:
      - eaglecreek.crt
      - eaglecreek4096.crt
      - eaglecreek_g3.crt
 
  - name: Install ldap configuration
    ansible.builtin.template:
      src: "{{ configuration.template_base }}/ldap.conf.j2"
      dest: "{{ paths.ldap_conf }}"
      backup: yes
    notify: restart sshd

  - name: Install openldap configuration
    ansible.builtin.template:
      src: "{{ configuration.template_base }}/openldap.conf.j2"
      dest: "{{ paths.openldap_conf }}"
      backup: yes

  - name: Install authorized_keys_ldap
    ansible.builtin.template:
      src: authorized_keys_ldap.j2
      dest: "{{ sshd.server.authorized_keys_command }}"
      mode: 'u=rx,g=rx,o=rx'

  - name: Install /etc/pam.d/sshd
    ansible.builtin.template:
      src: "{{ configuration.template_base }}/sshd.j2"
      dest: "{{ paths.sshd }}"
    notify: restart sshd

  - name: Install nsswith.conf
    ansible.builtin.template:
      backup: yes
      src: "{{ configuration.template_base }}/nsswitch.conf.j2"
      dest: "{{ paths.nss_switch_conf }}"

  - name: Read users from CSV file and return a list
    community.general.read_csv:
      path: files/users.csv
    register: userscsv
    become: no
    delegate_to: localhost
    
  - name: Add the users from the CSV
    ansible.builtin.user:
      name: "{{ item.username }}"
      comment: "{{ item.gecos }}"
      uid: "{{ item.uid }}"
      group: "{{ item.gid }}"
    loop: "{{ userscsv.list }}"
